################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.sln
/.vs
/Binaries
/Intermediate
/Saved
/enc_temp_folder

/Build/Windows/FileOpenOrder
